* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
body .normal {
  background-color: #a4acaf;
}
body .fire {
  background-color: #fd7d24;
}
body .water {
  background: #4592c4;
}
body .grass {
  background: #9bcc50;
}
body .flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}
body .fighting {
  background: #d56723;
}
body .poison {
  background: #b97fc9;
}
body .electric {
  background: #eed535;
}
body .ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}
body .rock {
  background: #a38c21;
}
body .psychic {
  background: #f366b9;
}
body .ice {
  background: #51c4e7;
}
body .bug {
  background: #729f3f;
}
body .ghost {
  background: #7b62a3;
}
body .steel {
  background: #9eb7b8;
}
body .dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
body .dark {
  background: #707070;
}
body .fairy {
  background: #fdb9e9;
}
body .tipo {
  display: flex;
  font-size: 30px;
  justify-content: center;
  border-radius: 4px;
  height: 40px;
  width: 120px;
}
body header {
  background: rgb(59, 191, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100vw;
}
body header #d-input {
  display: flex;
  justify-content: space-around;
  width: 700px;
}
body header #d-input #pokemon {
  height: 40px;
  width: 500px;
  font-size: 20px;
  border: 0;
}
body header #d-input #btok {
  height: 40px;
  width: 40px;
}
body #tipos {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 60px;
  width: 300px;
}
body #info {
  display: flex;
  border: solid 2px black;
}
body #info img {
  width: 1080px;
  height: 1080px;
}
body #info #fraquesas {
  width: 600px;
  height: 600px;
  border-left: solid 2px black;
}
body #info #fraquesas #d4x {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  height: 180px;
  padding: 5px;
}
body #info #fraquesas #d2x {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 180px;
  padding: 5px;
}
body #info #fraquesas #d1x {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  height: 180px;
  padding: 5px;
}
body #info #fraquesas #d1_2x {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(201, 201, 42);
  height: 180px;
  padding: 5px;
}
body #info #fraquesas #d1_4x {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  height: 180px;
  padding: 5px;
}
body #info #fraquesas #d0x {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 180px;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */