*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
// $colorNormal: linear-gradient(#a4acaf 100%);

// $colorNormal: rgb(164, 172, 175);


$colorNormal: #a4acaf;
$colorFire: #fd7d24;
$colorWater: #4592c4;
$colorGrass: #9bcc50;
$colorFlying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
$colorFighting:#d56723;
$colorPoison: #b97fc9;
$colorElectric: #eed535;
$colorGround: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
$colorRock: #a38c21;
$colorPsychic: #f366b9;
$colorIce: #51c4e7;
$colorBug: #729f3f;
$colorGhost: #7b62a3;
$colorSteel: #9eb7b8;
$colorDragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
$colorDark: #707070;
$colorFairy: #fdb9e9;

body{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: white;
  .normal{
    background-color: $colorNormal;
  }

  .fire{
    background-color: $colorFire;
  }

  .water{
    background: $colorWater;
  }

  .grass{
    background: $colorGrass;
  }

  .flying{
    background: $colorFlying;
  }

  .fighting{
    background: $colorFighting;
  }

  .poison{
    background: $colorPoison;
  }

  .electric{
    background: $colorElectric;
  }

  .ground{
    background: $colorGround;
  }

  .rock{
    background: $colorRock;
  }

  .psychic{
    background: $colorPsychic;
  }

  .ice{
    background: $colorIce;
  }

  .bug{
    background: $colorBug;
  }

  .ghost{
    background: $colorGhost;
  }

  .steel{
    background: $colorSteel;
  }

  .dragon{
    background: $colorDragon;
  }

  .dark{
    background: $colorDark;
  }

  .fairy{
    background: $colorFairy;
  }
  header{
    background: rgb(59, 191, 231);
   
    // background: $colorEletric;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100vw;
    #d-input{
      display: flex;
      justify-content: space-around;
      width: 700px;
      #pokemon{
        height: 40px;
        width: 500px;
        font-size: 20px;
        border: 0;
        // border: solid 1px black;
      }
      #btok{
        height: 40px;
        width: 40px;
        // border: 0;
        
      }
    }
  }
  #tipos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    margin: 10px;
    height: 60px;
    width: 300px;

    

    .tipo{
      display: flex;
      margin: 10px;
      font-size: 30px;
      justify-content: center;
      border-radius: 4px;
      height: 40px;
      width: 120px;
    }
  }
  #info{
    display: flex;
    border: solid 2px black;

    img{
      width: 600px;
      height: 600px;
      
    }
    #fraquesas{
      background-color: rgb(25, 161, 155);
      width: 600px;
      height: 600px;
      border-left: solid 2px black;
      
      #d4x{
        background-color: red;
        height: 100px;
      }
      #d2x{
        background-color: orange;
        height: 100px;
      }
      #d1x{
        background-color: gray;
        height: 100px;
      }
      #d1-2x{
        background-color: rgb(201, 201, 42);
        height: 100px;
      }
      #d1-4x{
        background-color: lightblue;
        height: 100px;
      }
      #d0x{
        background-color: white;
        height: 100px;
      }

    }
  }
}